.panel-general{
    position: fixed;
    top: 80px;
    width: 96%;
    height: 70%;
    background-color: white;
}
.card{
    position: absolute;
    left: 7%;
    width: 90%;
    height: 100%;
    background-color: white;
    border:solid 1px black;
    

}
.cardHeader{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 5rem;
    font-weight: bold;
    background-color: #67cf75;
}
.card-body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left:15%;
    width:  75%;
    height:60%;
    background-color: white;
}
.card-footer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color:white;
}
input{
    position: relative;
    font-size: 1.5em;
    width: 95%;
}
mat-form-field{
 position: absolute;
 left: 0;
 width: 100%;
}
i{
    font-size: 2.6em;
}
h3{
    font-size: 1.5em;
}
.box1,.box2,.box3{
    margin-left: 9%;
}
li{
    font-size: 1.2em;
}
.veri-titulo{
    text-decoration: underline;
    font-weight: bold;
}

  .boton{
    border-color:#4c9756 ;
   // border: ridge 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    font-weight: bold;
  }
  .botones{
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #67cf75;
  }
.bto{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    height:100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #67cf75;
}
  @media(min-width:768px){
    .card{
        height: 80%; 
    }
    .card-body{
        height: 50%;

    }
    .card-footer{
        height: 20%;
    }
  }