<barra-superior [titulo]="this.titulo" [volver_atras]="false" (verUsuario)="volver($event)"></barra-superior>
<div class="panel-general">
    <form  [formGroup]="this.form" >
            <div class="card">
                <div class="cardHeader">
                    <h1>Ingrese los datos</h1>
                </div>
                <div class="card-body">
                    <div class="panel-1" *ngIf="this.panelActual==1" @enterState>
                        <mat-form-field class="nombre" *ngIf="!isAdministrador"  appearance="fill">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text"formControlName="usuario" >
                            <mat-error *ngIf="this.form.controls.usuario?.invalid">Falta el nombre</mat-error>
                        </mat-form-field>
                        <mat-form-field class="nombre" *ngIf="isAdministrador"  appearance="fill">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text"formControlName="usuario" >
                            <mat-error *ngIf="this.form.controls.usuario?.invalid">Falta el nombre</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="panel-2" *ngIf="this.panelActual==2"@enterState>
                        <mat-form-field class="email"  appearance="fill">
                            <mat-label>EMAIL</mat-label>
                            <input matInput type="email"formControlName="email" >
                            <mat-error *ngIf="this.form.controls.email?.invalid">Falta el email</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="panel-3" *ngIf="this.panelActual==3"@enterState>
                        <mat-form-field class="text"  appearance="fill">
                            <mat-label>PAIS</mat-label>
                            <mat-select formControlName="pais"> 
                                <mat-option *ngFor="let pais of this.paises"  [value]="pais" >
                                    {{pais}}</mat-option>        
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="panel-4" *ngIf="this.panelActual==4"@enterState>
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                    </div>
                    <div class="panel-5" *ngIf="this.panelActual==5"@enterState>
                        
                        <ul>
                            <h1 class="veri-titulo">Verifique los datos</h1>
                            <li>{{this.form.get('usuario').value}}</li>
                            <li>{{this.form.get('pais').value}}</li>
                            <li>{{this.form.get('email').value}}</li>
                            <li>{{this.form.get('password').value}}</li>
                        </ul>
        
                    </div>
                </div>
               
                <div class="card-footer">
                    <div class="bto"  *ngIf="this.panelActual==5"> 
                    <div class="boton" (click)="this.guardarUsuario()" *ngIf="this.panelActual==5">
                       <h1> CREAR</h1>
                    </div>
                    </div>
                    <div class="box1"  *ngIf="this.panelActual<5">
                        <h1><i class="material-icons"  
                            *ngIf="this.panelActual>1" (click)="this.beforePanel()"> 
                            navigate_before </i></h1>
                           
                    </div>
                    <div class="box2"   *ngIf="this.panelActual<5">
                       
                            <h3>{{this.panelActual}}/5</h3>
                            
                    </div>
                    <div class="box3"  *ngIf="this.panelActual<5">
                            <h1 ><i class="material-icons"  (click)="this.nextPanel()"
                                *ngIf="this.panelActual<=5"> 
                            navigate_next </i></h1>
                    </div>
                    <!-- <button class="btn btn-danger btn-block" (click)="this.panelActual=1"*ngIf="this.panelActual==5">Corregir</button> -->
                </div>
            </div>
        
</form>
</div>
<div class="botones">
    <div class="boton"  (click)="this.volver2()" *ngIf="this.panelActual<5">
         <h2 >VOLVER</h2>
   </div>
</div>