.panel-general{
    position: absolute;
    top: 17%;
    width: 100%;
    height: 80%;
    background-color: white;
}
.card{
    position: fixed;
    left: 2%;
    top: 18%;
    width: 96%;
    height: 78%;
    background-color: white;

}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2.6em;
    background-color: rgb(77, 32, 201);
}
.card-body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left:15%;
    width:  80%;
    height: 50%;
    background-color: white;
}
.card-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25%;
    background-color:white;
}
input{
    font-size: 2.4em;
}
mat-form-field,.panel-1,.panel-2,.panel-3,.panel-4,.panel-5{
    width: 80%;
}
i{
    font-size: 2.6em;
}
h3{
    font-size: 1.5em;
}
.box1,.box2,.box3{
    margin-left: 9%;
}
button{
    width: 25%;
    margin-left: 10%;
    height: 100%;
}
li{
    font-size: 1.2em;
}
.veri-titulo{
    text-decoration: underline;
    font-weight: bold;
}