.card{
    position: relative;
    width:70%;
    height: 80%;
}
.container{
    position: relative;
    top: 90px;
    z-index: 50;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
   
}
#entrar{
    background-color: #67cf75;
    color:  white;
    border-radius: 6%;
    width: 100%;
    height: 130%;

}
button{
    background: #67cf75;
    color:  white;
}
.box2{
    position: fixed;
    width: 100%;
    color:  white;
    top: 78%;
    left: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.texto{
    background-color: #67cf75;;
    position: relative;
    width: 50%;
    
    text-align: center;
} 
@media (max-width: 768px){
    .card{
        width: 100%;
    }
    .box2{
       left: 5%
    }
    .texto{
        width: 90%;
    }
}