<div class="container-fluid" style="margin-top: 8px;">
    <mat-card class="beneficiario">
        <mat-card-content>
            <mat-grid-list cols="5" rowHeight="1:0.4">
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="myTile">
                    <p>Titular</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <p>Banco</p>
                </mat-grid-tile>           
            <mat-grid-tile [colspan]="1" [rowspan]="1">
               <p> {{beneficiario.tipo_documento}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>{{beneficiario.tipo_cuenta}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" style="color: red;">
                <p><i class="material-icons" (click)="deleteBeneficiario()"> delete </i></p>
            </mat-grid-tile>
        </mat-grid-list>

            <mat-grid-list cols="5" rowHeight="1:0.4">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                       <h6> {{titular}}</h6>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                       <h6> {{beneficiario.banco}}</h6>
                </mat-grid-tile>              
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h6>{{beneficiario.nro_documento}}</h6>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h6>{{beneficiario.nro_cuenta}}</h6>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
               <a (click)="ver_depositos(beneficiario.id_usuario)"> <h6><i class="material-icons">settings_overscan</i></h6></a>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
       
    </mat-card>
</div>
