<!-- <div class="card card5">
    <div class="card-header">
        Destinatario
    </div>
    <div class="card-body">
        <div class="dato"> 
            <label class="col-md-4 control-label">Nombre</label>
            <mat-form-field class="full-width"appearance="fill">
                <input  readonly matInput  type="text" placeholder="{{beneficiario.nombre}},{{beneficiario.apellido}}"  >
            </mat-form-field>
        </div>
        <div class="dato"> 
            <label class="col-md-4 control-label">{{beneficiario.tipo_documento}}</label>
            <mat-form-field class="full-width"appearance="fill">
                <input  readonly matInput  type="text" placeholder="{{beneficiario.nro_documento}}"  >
            </mat-form-field>
        </div>
        <div class="dato"> 
            <label class="col-md-4 control-label">Banco</label>
            <mat-form-field class="full-width"appearance="fill">
                <input  readonly matInput  type="text" placeholder="{{beneficiario.banco}}"  >
            </mat-form-field>
        </div>
        <div class="dato"> 
            <label class="col-md-4 control-label">{{beneficiario.tipo_cuenta}}</label>
            <mat-form-field class="full-width"appearance="fill">
                <input  readonly matInput  type="text" placeholder="{{beneficiario.nro_cuenta}}"  >
            </mat-form-field>
        </div>
    </div>
</div> -->



<div class="card-body">
    <div class="dato"> 
        <label class="col-md-4 control-label">Nombre</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{beneficiario.nombre}},{{beneficiario.apellido}}"  >
        </mat-form-field>
    </div>
    <div class="dato"> 
        <label class="col-md-4 control-label">{{beneficiario.tipo_documento}}</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{beneficiario.nro_documento}}"  >
        </mat-form-field>
    </div>
    <div class="dato"> 
        <label class="col-md-4 control-label">Banco</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{beneficiario.banco}}"  >
        </mat-form-field>
    </div>
    <div class="dato"> 
        <label class="col-md-4 control-label">{{beneficiario.tipo_cuenta}}</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{beneficiario.nro_cuenta}}"  >
        </mat-form-field>
    </div>
</div>