.card{
    width: 100%;
    background-color: white;


}
.card-header{
    width: 100%;
}
.card-body{
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-direction: column;
}
.card-header,.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.principal{
    width: 100%;
}
.box,img{
    width: 40%;
    height: 40%;
}
.optiones{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
}
.card2,.body2{
    position: relative;
    height: 350px;
}
.card3{
    position: relative;
    max-height: 500px;
}
.body3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    max-height: 500px;
}