// .aux{
//   position: relative;
//   width: 16%;
//   height: 16%;
// }

.tab{
position: relative;
 top: 18%;
  width: 100%;
}
table {
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 50%;
  top:17%;
  overflow-y: auto;
  }
  #filtro{
    position: fixed;
     bottom: 0;
     font-size: 1.5em;
     font-weight: bold;
     height: 50px;
     width: 100%;
     display:flex;
     justify-content: center;
     align-items: center;
     background-color: #67cf75;
     color: white;
  }
.app-loader{
  position: fixed;
  left: 45%;
  top:45%;
  z-index:initial;
  width: 15%;
  height: 15%;
  background-color: red;
}
.divFiltro{
    position: fixed;
    top: 75%;
    width:  100%;
    height: 8%;
   
    z-index: 100px;
    border-color: black;
    border: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
// mat-paginator{
//   position: fixed;
//   top: 75%;
  
// }

  @media  (max-width: 766px) {
    td {
      font-size: 0.8em;
    }
  }
 
nuevo-dashBoard{
  position: relative;
  width: 100%;
  top: 18%;
}
// @media(max-width:768px){
//   mat-paginator{
//     position: fixed;
//     top: 83%;
//   }
// }