.container-fluid{
    position: fixed;
    bottom: 0;
    height: 10%;
    margin: 0%;
    height:auto !important;
    max-height: 80%;
    overflow:auto;
}

#alertaEliminado{
    position: fixed;
    
    z-index: 350px;
    top:25%;
    width: 50%;
    left: 35%;
}
.Tabla_depositos{
    position: absolute;
    top: 15%;
    height: 66%;
    z-index: 100%;
    width: 100%;
    overflow:auto;
}
@media(max-width:768px) and (min-height:375px)  {
    .list {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 75%;
        margin-top: 0%;
        padding-top: 0%;
        top:16%;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        border: 1px solid #e8f8ff;
    
    }
    // app-depositos{
    //     position: absolute;
    //     top: 30%;
    //     width: 100%;
    //     height: 50%;
    // }
}
@media(min-width:768px) and (min-height:375px) {
    // app-depositos{
    //     position: fixed;
    //     top: 19%;
    //     width: 100%;
    //     height: 45%;
    //     max-height: 700px;
    // }
    .list {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 65%;
        margin-top: 0%;
        padding-top: 0%;
        top:16%;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        border: 1px solid #e8f8ff;
    
    }

}

button{

    height: 50px;

}

.botones{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 7%;
}
.boton{
    background-color: #67cf75;
    color: black;
    width: 50%;
    font-size: 1.5rem !important;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
