table{
    width: 100%;
    overflow-y: auto;
}
mat-form-field{
   // position: relative;
    width: 100%;
    height: 5px;
}
@media(max-width:768px){
    table{
        width: 100%;
        overflow-y: auto;
    }
    mat-form-field{
        position: relative;
        width: 100%;
        height: 5px;
    }
}