.usuarios{
    background-color: cornflowerblue;
    border-radius: 10%;
}
.container-fluid{
    position: absolute;
    top: 15%;
    width: 102%;
}


    .box{
        margin-top: 9%;
        position: relative;
        width:98% ;
        height: 190px;
        left: 1%;
        background-color: rgb(255, 255, 255);
        border-style: ridge;
    }

    #card1{
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;  
    }
    .card-header{
        height: 10%;
        width: 102%;  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(33, 33, 93);
        background-color: cornflowerblue;
        font-weight: bold;
        font-size: 1.8em;
    }
    .header2{
            background-color:darkorchid;
    }
    .header3{
        background-color:yellow;
       
}
    img{
        position: absolute;
        left: 4%;
        max-height: 60%;
        max-width: 40%;
    }
    ul{
        position: relative;
        top: -10%;
        left: 15%;
    }
    li{
        left: 5%;
        padding-top: 5%;
    }
    .boton{
        background-color: rgb(197, 129, 226);
        border-radius: 10%;
        width: 100%;
        margin-top: 5%;
    }
    .btn2{
        background-color: rgb(123, 74, 144);
    }
 

