<div class="container-fluid">
            <div class="box">
                <div class="card" id="card1">
                    <div class="card-header">  Transacciones  </div>
                    <div class="card-body">
                        <img src="../../assets//imagenes/iconos/diagrama.png" alt="">
                    </div>
                    <ul>
                        <li>Ultimo mes: &nbsp; {{this.transacciones}}</li>
                        <li>En verificacion:&nbsp; {{this.verificacion}}</li>
                        <li>Confirmadas:&nbsp; {{this.confirmadas}}</li>
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="card" id="card1">
                    <div class="card-header header3">  Tasas  </div>
                    <div class="card-body">
                        <img src="../../assets//imagenes/iconos/lista.png" alt="">
                    </div>
                    
                    <ul>
                        <li>Argentina: &nbsp; {{this.transacciones}}</li>
                        <li>Peru:&nbsp; {{this.verificacion}}</li>
                        <li>Uruguay:&nbsp; {{this.confirmadas}}</li>
                        <li>España:&nbsp; {{this.confirmadas}}</li>
                        <li>Chile:&nbsp; {{this.confirmadas}}</li>
                        <li>Brasil:&nbsp; {{this.confirmadas}}</li>
                    </ul>
                    
                </div>
                
            </div>

            <div class="box">
                <div class="card" id="card1">
                    <div class="card-header header2">
                        Usuarios
                    </div>
                    <div class="card-body">
                        <img src="../../assets//imagenes/iconos/usuario.png" alt="">
                    </div>
                    <ul>
                        <li>Total:&nbsp; {{this.verificacion}}</li>
                        <li>Activos:&nbsp; {{this.confirmadas}}</li>
                        <input type="button" class="boton"  value="gestionar"/>
                        <input type="button" class="boton btn2"  value="Nuevo usuario"/>
                    </ul>
                </div>
            </div>
            
            <div class="box">     
                <div class="card">
                    <div class="card-header">
                        Ultimas transacciones
                    </div>
                    <app-depositos [esCliente]=true ></app-depositos> 
                </div>
             </div>


</div>