
<barra-superior [titulo]="this.titulo" 
                [volver_atras]="false" 
                (verUsuario)="volver_atras($event)">
</barra-superior>
<div class="container-fluid" >  
        <form [formGroup]="this.form" >
            <div class="card div1" @enterState>
                <div class="cardheader" >
                        <div class="titulo">Datos</div>            
                </div>
                <div class="contenido">
                    <div class="panel-1"  *ngIf="this.panelActual==1" @enterState>
                        <mat-form-field class="nombre">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text"formControlName="nombre" pattern="[a-zA-Z ]*">
                            <mat-error *ngIf="this.form.controls.nombre?.invalid">Falta el nombre</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="apellido">
                         <mat-label >Apellido</mat-label>
                         <input matInput type="text" formControlName="apellido" pattern="[a-zA-Z ]*">
                     </mat-form-field>
                    </div>

                     <div class="panel-2" *ngIf="this.panelActual==2"  @enterState>
                        <mat-form-field class="tipo_documento" appearance="outline" name="tipo_documento">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select formControlName="tipo_documento"> 
                                <mat-option *ngFor="let tipo of this.tipos_de_documento"  [value]="tipo"  >
                                    {{tipo}}</mat-option>      
                            </mat-select>
                            <mat-error *ngIf="this.form.get('tipo_documento')?.invalid ">Falta tipo documento</mat-error>       
                        </mat-form-field>
                    
                        <mat-form-field class="nro_documento" appearance="outline"  name="nro_documento">
                            <mat-label>Numero de documento</mat-label>
                            <input matInput type="number" formControlName="nro_documento" minlength="8" maxlength="8">
                        <mat-error *ngIf="this.form.get('nro_documento')?.invalid ">El documento debe tener 8 digitos</mat-error>       
                        </mat-form-field>
                    </div>

                    <div class="panel-3" *ngIf="this.panelActual==3"  @enterState>
                        <mat-form-field>
                            <mat-label >Banco:</mat-label>
                            <mat-select formControlName="banco"> 
                                <mat-option *ngFor="let banco of this.bancos"  [value]="banco.nombre" 
                                (onSelectionChange)="changeBanco(banco.nombre)">{{banco.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    

                    <div class="panel-4" *ngIf="this.panelActual==4"  @enterState>
                        <mat-form-field class="tipo_cuenta" appearance="outline" name="tipo_cuenta">
                            <mat-label>Tipo de cuenta</mat-label>
                            <mat-select formControlName="tipo_cuenta"> 
                                <mat-option *ngFor="let tipo of this.tipos_de_cuenta"  [value]="tipo"  >
                                    {{tipo}}</mat-option>      
                            </mat-select>
                            <mat-error *ngIf="this.form.get('tipo_cuenta')?.invalid ">Falta tipo cuenta</mat-error>       
                        </mat-form-field>
                    
                        <mat-form-field class="nro_cuenta" appearance="outline"  name="nro_cuenta">
                            <mat-label>Numero de cuenta</mat-label>
                            <input matInput type="number" formControlName="nro_cuenta" minlength="10" maxlength="20">
                        <mat-error *ngIf="this.form.get('nro_cuenta')?.invalid ">el CBU dene tener 20 digitos</mat-error>       
                        </mat-form-field>
                    </div>


                    <div class="panel-5" *ngIf="this.panelActual==5"  @enterState>
                        <h4>DATOS :</h4>
                        <ul>
                            <li>Nombre:&nbsp; {{this.form.get('nombre').value}}</li>
                            <li>Apellido:&nbsp; {{this.form.get('apellido').value}}</li>
                            <li>Nombre:&nbsp; {{this.form.get('nombre').value}}</li>
                            <li>Tipo de documento:&nbsp; {{this.form.get('tipo_documento').value}}</li>
                            <li>Nupero de documento:&nbsp; {{this.form.get('nro_documento').value}}</li>
                            <li>Tipo de cuenta:&nbsp; {{this.form.get('tipo_cuenta').value}}</li>
                            <li>Numero de cuenta::&nbsp; {{this.form.get('nro_cuenta').value}}</li>
                        </ul>
                    </div>

                     <div class="box2"  *ngIf="this.panelActual<4" >
                             <h3>{{this.panelActual}}/4</h3>
                     </div>
                </div>
                     
                </div>


        </form>
    </div>

<div class="botones"  *ngIf="this.panelActual== 1 || this.panelActual==5"  >
    <div class="boton"  (click)="this.nextPanel()" *ngIf="this.panelActual==1"   >
         <h2 >SIGUIENTE</h2>
    </div>
    <div class="boton"  (click)="this.guardar()" *ngIf="this.panelActual==5" >
        <h2 >GUARDAR</h2>
   </div>
</div>
<div class="botones2" *ngIf="this.panelActual>1 && this.panelActual<5" >
    <div class="boton2"  (click)="this.beforePanel()" *ngIf="this.panelActual>1"   >
        <h2 >ANTERIOR</h2>
   </div>
   <div class="boton2"  (click)="this.nextPanel()" *ngIf="  this.panelActual<5"   >
        <h2 >SIGUIENTE</h2>
    </div>
</div>