.card-title{
    position: absolute;
    //top: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25%;

}
.card-body{
    position: relative;
    top: 15%;
}
.box1{
    position: absolute;
    top: 75%;
    left: 25%;
}
.box2{
    position: absolute;
    top: 75%;
    left: 45%;
}
.box3{
    position: absolute;
    top: 75%;
    left: 65%;
}
.card-header{
    position: absolute;
    top: 3%;
    left: 3%;
    height: 15%;
    border-radius: 5%;
    background-color:rgb(110, 110, 252) ;
    width: 94%;
}
#div1{
    position: fixed;
    top: 20%;
    
}
.card{
    position: fixed;
    top: 20%;
    height: 75%;
    width:  90%;
    left: 5%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 300px;
    height: 300px;
}
.card-body,.panel-1,.panel-3,.panel-2,.panel-4,.panel-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  90%;
}
.card-footer{
    
    position: relative;
    width:  40%;
    left: 0%;
    background-color: white;
}
i{
    font-size: 2em;
    font-weight: bold;
}
mat-form-field{
    position: flex;
    width: 70%;
}
.nombre,.tipo_documento{
    position: absolute;
    top: 20%;
}
.apellido,.nro_documento{
    position: absolute;
    top: 40%;
}

@media(min-width:768px){
    .card-title{
        left: 40%;

    }

}