barra-superior{
    position: fixed;
    width: 100%;
    height: 70px ;
    z-index: 21;
  }
  .div1{
    position: absolute;
    top: 100px;
    height: 70%;
  }
  .card{
    position: absolute;
    height: 80%;
    width:  95%;
    min-height: 70%;
    left: 2%;
    border-radius: 20px;
}
.cardheader{
    position: absolute;
    display: flex;
    height: 2.4em;
    background-color:#919291;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    color: white;
}

.panel-1,.panel-3,.panel-2,.panel-4,.panel-5{
  margin-top:20%;
  font-size: 3em;
}
mat-form-field{
    left: 5%;
    width: 90%;
    font-size: 1.6rem;
    margin-top:13%;
    margin-bottom:13%;
}

mat-option,mat-select{
  font-size: 1 rem;
}
input{
  font-size: 1.6rem;
  text-transform:uppercase;
}
  .botones{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #67cf75;
  }
  .box1{
    position: absolute;
    top: 90%;
    left: 20%;
    height: 2em;
    width: 2em;
    font-size: 2em;

}
.box2{
    position: absolute;
    top: 90%;
    left: 45%;
}
.box3{
    position: absolute;
    top: 90%;
    left: 70%;
}

  .boton{
    border-color:#4c9756 ;
    border: ridge 1px;
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
  }

  ul{
  font-size: 1.2rem;
  }
  @media(min-width:768px){
    #div1{
        position: absolute;
        top: 70px;
        height: 40%;
      }

    .card{
        position: relative;
        display: flex;
        height: 60%;
        width:  95%;
        min-height: 70%;
        left: 2%;
        border-radius: 20px;
    }
    .cardheader{
      font-size: 1.5em;
    }

    .contenido{
      position: relative;
     // display: flex;
      

    }
    .panel-1,.panel-3,.panel-2,.panel-4,.panel-5{
      margin-top: 10%;
      display: flex;
      flex-direction: row;

    }
    mat-form-field{
        margin-left: 10%;
        width: 40%;
        margin-top:4%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    mat-option{
      font-size: 1 rem;
    }
    .box1{
        position: absolute;
        top: 75%;
        left: 20%;
    }
    .box2{
        position: absolute;
        top: 75%;
        left: 45%;
    }
    .box3{
        position: absolute;
        top: 75%;
        left: 70%;
    }

}