<div class="card-body body2">
    <form id="form"   method="POST">
    <div class="dato"> 
        <label class="col-md-4 control-label" style="display: flex;">ID</label>
            <mat-form-field class="full-width"appearance="fill">
                <input  readonly matInput  type="text" placeholder="{{this.usuario.id}},{{this.usuario.apellido}}"  >
            </mat-form-field>
        </div>
    <div class="dato"> 
        <label class="col-md-4 control-label">PAIS</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{usuario.pais}}"  >
        </mat-form-field>
    </div>
    <div class="dato"> 
        <label class="col-md-4 control-label">EMAIL</label>
        <mat-form-field class="full-width"appearance="fill">
            <input  readonly matInput  type="text" placeholder="{{usuario.email}}"  >
        </mat-form-field>
    </div>
    
    </form>
<br>
</div>