@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    position: relative;
   
    }
    body, html {
        margin: 0;
        width: 100%;
        overflow-x: hidden;

    }
    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
