img {
    width: 80%;
    height: 50%;
    max-width: 600px;
    max-height: 300px;

}
.box{
    position: relative;
    width: 100%;
    max-width: 20%;
}
 .uploader-wrap{
    display:flex;
    flex-direction: column;
    align-items:stretch;
 }
 .buttons{
     position: relative;
     left:55%;
 }

