img {
    width: 80%;
    height: 50%;
    max-width: 600px;
    max-height: 40px;

}
.box{
    position: relative;
    max-width: 20%;
}
 .uploader-wrap{
    display:flex;
    flex-direction: row;
    align-items:center;
 }
 .buttons{
     position: relative;
     //left:55%;
 }
.buttons{
    display: flex;
    justify-content: center;
}
