<div *ngIf="image" class="preview">
    <div class="box">
        <img [src]="image"  className="img-fluid " />
    </div>
</div>
<div class="uploader-wrap" (click)="triggerClick()" >
    <div class="box">
        <img src="../../../src/assets/imagenes/iconos/addimage.PNG"   className="img-fluid " *ngIf="!this.IsImage">
    </div>
    
    <div class="buttons">
      <div>  <button type="button" class="btn btn-success" *ngIf=" !this.IsImage">Elegir imagen</button></div>
       <div> <button type="button" class="btn btn-danger" *ngIf="this.IsImage">cambiar imagen</button></div>
    </div>
</div>
<input type="file" accept="image/x-png,image/gif,image/jpeg"  class="form-control d-none" (change)="selectFile($event)"  #fileUpoader />