.general{
    position: relative;
    overflow-x: auto;
    height: 100%;
}
.cardPrincipal{
    width: 98%;
    margin-left: 1%;
    margin-bottom: 70px;
}
.principal{
    overflow-y: auto;
}
.inputGroupContainer,label{
    width: 90%;
    margin-left: 5%;
}
.full-width{
    width: 80%;
    left: 10%;
}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #67cf75;
    color: white;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}
.box1{
    min-width: 45%;

}
.box2{
    min-width: 45%;
}
.bodyInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5;
    height: 50px;
}
.botones{
    position: fixed;
    width: 100%;
    bottom: 0%;
    height:70px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}
.boton1{
    width: 100%;
    height:50px ;
    background-color: #67cf75;
    justify-content: center;
    align-items: center;

   
    
}
.boton2{
    width: 50%;
    height:50px ;
    left: 50%;
    background-color: #67cf75;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px solid #336339;;
}
p{
    top: 5%;
    margin-left: 45%;
}
.inabilitar{
    position: absolute;
    z-index: 100;
    top:95%;

}