<form [formGroup]="this.form"><div class="general">
    <!-- <form [formGroup]="this.form"> -->
    <div class="card cardPrincipal" >
        <div class="card-header">
            {{this.form.get('usuario').value}}
        </div> 
        <div class="card-body principal">
            
            <div class="box">
                <div class="card box1">
                    <div class="card-header" style="background-color: grey;">
                        CREADO
                    </div>
                    <div class="card-body bodyInfo">
                        <h3>28/03/2020</h3>
                        <!-- fecha: {{this.form.get('create_at').value}} -->
                     </div>
                </div>

                <div class="card box2">
                    <div class="card-header" style="background-color: grey;">
                        SALDO
                    </div>
                    <div class="card-body bodyInfo">
                       <h3> $ {{this.form.get('saldo').value}}</h3>
                    </div>
                </div>
            </div>

            <div *ngIf="!active"> 
                <h3 style="color: red;">! El usuario se encuentra inactivo</h3>
             </div>
                    <mat-form-field appearance="outline" class="full-width" name="nombre">
                        <mat-label>NOMBRE</mat-label>
                        <input  matInput  type="text"
                                name="nombre" formControlName="nombre"[readonly]= "this.usuario.nombre || this.usuario.nombre!=null" ng-disabled="!usuario.status='active'" >
                            <mat-error *ngIf="this.form.get('nombre')?.invalid ">Falta nombre</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" name="apellido">
                        <mat-label>APELLIDO</mat-label>
                        <input  matInput  type="text"
                                name="apellido" formControlName="apellido" [readonly]= "this.usuario.apellido || this.usuario.apellido!=null" ng-disabled="!usuario.status='active'"  >
                        <mat-error *ngIf="this.form.get('apellido')?.invalid ">Falta apellido</mat-error>        
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="full-width" name="tipo_documento">
                        <mat-label>TIPO DE DOCUMENTO</mat-label>
                        <input  matInput  type="text"
                                name="tipo_documento" formControlName="tipo_documento" [readonly]= "this.usuario.tipo_documento" ng-disabled="!usuario.status='active'" >
                            <mat-error *ngIf="this.form.get('tipo_documento')?.invalid ">Falta tipo documento</mat-error>       
                    </mat-form-field> -->
                    <mat-form-field class="full-width" appearance="outline" name="tipo_documento">
                        <mat-label>TIPO DOCUMENTO</mat-label>
                        <mat-select formControlName="tipo_documento"> 
                            <mat-option *ngFor="let tipo of this.tipos_de_documento"  [value]="tipo"  >
                                {{tipo}}</mat-option>      
                        </mat-select>
                        <mat-error *ngIf="this.form.get('tipo_documento')?.invalid ">Falta tipo documento</mat-error>       
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="full-width" name="nro_documento"ng-disabled="!usuario.status='active'" >
                        <mat-label>NUMERO DE DOCUMENTO</mat-label>
                        <input  matInput  type="nro_documento"
                                name="number" formControlName="nro_documento"[readonly]= "this.usuario.nro_documento || this.usuario.nro_documento!=null">
                                <mat-error *ngIf="this.form.get('nro_documento')?.invalid ">Falta tipo documento</mat-error>         
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" name="email" >
                        <mat-label>EMAIL</mat-label>
                        <input  matInput  type="email"
                                name="email" formControlName="email" ng-disabled="!usuario.status='active'" >
                                <mat-error *ngIf="this.form.get('email')?.invalid ">Falta email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" name="telefono"ng-disabled="!usuario.status='active'" >
                        <mat-label>TELEFONO</mat-label>
                        <input  matInput  type="telefono"
                                name="number" formControlName="telefono" >
                                <mat-error *ngIf="this.form.get('telefono')?.invalid ">Falta telefono</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width" appearance="outline" >
                        <mat-label>PAIS</mat-label>
                        <mat-select formControlName="pais" > 
                            <mat-option *ngFor="let pais of this.paises"  [value]="pais"  >
                                {{pais}}</mat-option>        
                    </mat-select>
                    </mat-form-field>

                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>PASSWORD</mat-label>
                        <input  matInput  type="password"
                        name="password" formControlName="password" style="width: 68%;" readonly="readonly">
                        <div *ngIf="active"
                        ><button mat-raised-button color="default" 
                            style="position:absolute;width: 30%;top: 0;left: 70%;font-size: 12px;" (click)="this.editar()" >EDITAR</button></div>
                    </mat-form-field>
            
        <div *ngIf="active && esAdministrador==true" class="inabilitar"> 
          <button mat-button color="warn" (click)="this.Inabilitar()" >@ Inabilitar usuario</button></div>
        </div>
    </div>
 <!-- </form> -->
</div>
<div class="botones">
    <div class="boton1" disabled="!form.valid" *ngIf="active"
    (click)="this.guardar()" >
        <div><p>Guardar</p></div>
    </div>
</div>

</form>