// .central{
//     position: fixed;
//     top: 18%;
//     width: 100%;
// }
// button{
//     position: relative;
//     left: 25%;
//     width: 50%;
// }

.central{
    position: fixed;
    top: 18%;
    width: 100%;
}
button{
    position: relative;
    left: 25%;
    width: 50%;
}