
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="box">
            <h3 class="text-center">{{this.usuario.usuario}}</h3>
        </div>
        <div class="col-md-12 card" id="box">
            <h4 class="card-body text-center" >Saldo: {{this.usuario.saldo}}$</h4>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-body text-center ">
                    <label   class=" text-center" >Tasa</label>
                    <h4 class="text-center">{{this.usuario.tasa}}</h4>  
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-body text-center ">
                    <label   class=" text-center" >Pais</label>
                    <h4 class="text-center">{{this.usuario.pais}}</h4>  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
            <div class="card ">
                <div class="card-body ">
                    <div class="row"> 
                        <div class="col-md-4" id="box">
                            <button class="btn btn-success btn-block" style="height: 150%;">MIS TRANSFERENCIAS</button>
                        </div>
                        <div class="col-md-4" id="box">
                            <button class="btn btn-success btn-block" style="height: 150%;">BENEFICIARIOS</button>
                        </div>
                        <div class="col-md-4" id="box">
                            <button class="btn btn-success btn-block" style="height: 150%;">MIS TRANSFERENCIAS</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
    </div>
</div>