<div *ngIf="!verUsuario">
<div class="div1" @enterStateRight>
    <p>Bienvenido   {{this.form.get('usuario').value || 'error'}}!</p>
    <div class="edit">   
        <span class="material-icons"(click)="configuraciones()" >settings</span>
      </div> 
</div>
<div class="container" id="div2" @enterState>
    <mat-grid-list cols="2" rowHeight="160px" >
        <mat-grid-tile class="grid-test-1"> 
        <mat-card style="width: 105%;">
            <mat-card-header>
                <mat-card-title>
                    <label   class=" text-center"  > Depositos</label>
                </mat-card-title>
            </mat-card-header>
           <mat-card-content>
            <h4 class="text-center">
                <ul>
                    <li> Totales: {{this.cantidad_depositos}}</li>
                    <li>Ultimo mes: {{this.ultimo_mes}}</li>
                </ul>
            </h4>  
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-test-1"> 
            <mat-card style="width: 105%;">
                <label   class=" text-center" >Tasa</label>
                <h4 class="text-center"> aca vaa </h4>  
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-test-1"> 
            <mat-card style="width: 105%;">
                <label   class=" text-center" >Pais</label>
                <h4 class="text-center"> {{this.form.get('pais').value || 'error'}}</h4>  
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-test-1" > 
            <mat-card style="width: 105%;">
                <mat-card-header>
                    <mat-card-title>
                        <label   class="text-center" >Saldo </label>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                   <mat-label>
                    <h4 class="text-center"> {{this.form.get('saldo').value || 'error'}}
                        <span matPrefix>$&nbsp;</span>
                    </h4> 
                   </mat-label> 
                </mat-card-content>
                </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="container-fluid" id="div3" @enterStateBotton>
    <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4 col-sd-4">
            <button 
            class="btn btn-primary btn-block" 
            routerLink="/MisTransacciones">Transacciones</button>
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4 col-sd-4">
            <button class="btn btn-primary  btn-block "
                    routerLink="/PanelBeneficiarios">Mis beneficiarios</button>
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4 col-sd-4">
            <button class="btn btn-primary btn-block">Enviar</button>
        </div>
    </div>
   
</div>
</div>
<detalle-usuario *ngIf="verUsuario" [esAdministrador]="false" 
            [usuario]="this.usuario" (emitChange)="changeVentana($event)"></detalle-usuario>