<barra-superior [titulo]="this.titulo"  
                [volver_atras]="this.BarraSuperiorService.volver" 
                [exit]="false" 
                (verUsuario)="changeVentana($event)"> 
</barra-superior>
<div class="box_nombre" *ngIf="verUsuario"> 
      <!-- <div>  <span class="material-icons"> insert_emoticon </span></div> -->
      <div> <p>Bienvenido &nbsp; {{this.form.get('usuario').value || 'error'}}</p>  </div>
</div>    
<div class="principal"*ngIf="verUsuario">
<!-- <div class="div1" @enterStateRight>
    <p>Bienvenido   {{this.form.get('usuario').value || 'error'}}!</p>
    <div class="edit">   
        <span class="material-icons"(click)="configuraciones()" >settings</span>
      </div> -->
<div class="box"> 
    <div class="info">
        <span class="material-icons"> attach_money </span>
       <p>&nbsp;Tu saldo &nbsp; {{this.form.get('saldo').value || 'error'}}</p>  
    </div>
</div> 
<div class="box"> 
    <div class="info">
        <span class="material-icons"> insert_emoticon </span>
       <p>&nbsp;Tasa actual:  &nbsp; {{this.form.get('tasa').value || 'error'}}</p>  
    </div>
</div> 
<div class="box">
    <div class="info">
        <span class="material-icons"> library_books </span>
        <p>&nbsp; Mis Depositos</p>  
    </div>
</div>
<div class="box" routerLink="/PanelBeneficiarios" (click)="this.BarraSuperiorService.ir_menu_beneficiacrios=true"> 
    <div class="info">
        <span class="material-icons"> supervised_user_circle </span>
       <p>&nbsp; Mis Beneficiarios</p>  
    </div>
</div>    
<div class="box"  routerLink="/MisTransacciones"> 
    <div class="info">
        <span class="material-icons"> send </span>
       <p>&nbsp; Mis Transacciones</p>  
    </div>
</div>  
<div class="box" routerLink="/transferencias"> 
    <div class="info">
        <span class="material-icons"> send </span>
       <p>&nbsp; Nuevo Déposito</p>  
    </div>
</div>    
</div>  

<detalle-usuario *ngIf="!verUsuario" [esAdministrador]="false" 
            [usuario]="this.usuario" (emitChange)="changeVentana($event)">
</detalle-usuario>
<barra-inferior *ngIf="verUsuario" (click)="salir()" ></barra-inferior>